1. What are data structures, and why are they important?
   - Data structures are ways to organize and store data in a computer so that it can be used efficiently. They help in managing and processing data effectively, making programs faster and easier to understand.
2. Explain the difference between mutable and immutable data types with examples.
   - Mutable: Can be changed after creation.
   Example: Lists ([1, 2, 3]) can have items added or removed.
   - Immutable: Cannot be changed after creation.
   Example: Tuples ((1, 2, 3)) and strings ("hello") cannot be altered once created.
3. What are the main differences between lists and tuples in Python?
   - Lists: Mutable, can be changed, and use more memory.
   - Tuples: Immutable, cannot be changed, and use less memory.
4. Describe how dictionaries store data.
   - Dictionaries store data in key-value pairs. Each key is unique and maps to a value.
5. Why might you use a set instead of a list in Python?
   - Sets automatically remove duplicate items and are faster for checking if an item exists. However, they do not maintain order.
6. What is a string in Python, and how is it different from a list?
   - A string is a sequence of characters (like "hello"). Unlike lists, strings are immutable and can only contain characters, whereas lists can contain any data type.
7. ow do tuples ensure data integrity in Python?
   - Since tuples are immutable, their data cannot be changed after creation, ensuring that the data remains consistent throughout the program.
8. What is a hash table, and how does it relate to dictionaries in Python?
   - A hash table is a data structure that stores data in key-value pairs using a hash function. In Python, dictionaries are implemented using hash tables.
9. Can lists contain different data types in Python?
   - Yes, lists can contain items of different data types, like [1, "hello", 3.14].
10. Explain why strings are immutable in Python.
   - Strings are immutable to ensure that they remain constant throughout the program, which helps in maintaining data integrity and allows for efficient memory usage.
11. What advantages do dictionaries offer over lists for certain tasks?
   - Dictionaries allow for faster data retrieval using keys, making them more efficient than lists when you need to access data by a specific identifier.
12. Describe a scenario where using a tuple would be preferable over a list.
   - When you want to store a fixed set of values that should not change, like coordinates (x, y), using a tuple is preferable because it's immutable.
13. How do sets handle duplicate values in Python?
   - Sets automatically remove duplicate values, ensuring that each element is unique.
14. How does the "in" keyword work differently for lists and dictionaries?
   - Lists: in checks if a value exists in the list.
   - Dictionaries: in checks if a key exists in the dictionary.
15. Can you modify the elements of a tuple? Explain why or why not.
   - No, tuples are immutable, so their elements cannot be changed after creation. To modify, you would need to create a new tuple.
16. What is a nested dictionary, and give an example of its use case?
   - A nested dictionary is a dictionary within another dictionary.
   Example:student = {"name": "rushi","grades": {"math": 91, "science": 95}}
17. Describe the time complexity of accessing elements in a dictionary.
   - Accessing elements in a dictionary has an average time complexity of O(1), meaning it's very fast.
18. In what situations are lists preferred over dictionaries?
   - When you need to maintain the order of items or access elements by their position (index), lists are preferred.
19. Why are dictionaries considered unordered, and how does that affect data retrieval?
   - Dictionaries do not maintain the order of items; they store data based on keys. This means you cannot rely on the order of items when retrieving data.
20. Explain the difference between a list and a dictionary in terms of data retrieval.
   - List: Access items by their position (index).
   - Dictionary: Access items by their unique keys, allowing for faster retrieval when the key is known.

In [3]:
# Q1. Create a string with your name and print it.
name = "RUSHI"
print(name)

RUSHI

In [4]:
# Q2. Find the length of the string "Hello World".
text = "Hello World"
print(len(text))

11

In [5]:
# Q3. Slice the first 3 characters from the string "Python Programming".
text = "Python Programming"
print(text[:3])

Pyt

In [6]:
# Q4. Convert the string "hello" to uppercase.
text = "hello"
print(text.upper())

HELLO

In [7]:
# Q5. Replace the word "apple" with "orange" in the string "I like apple".
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

In [8]:
# Q6. Create a list with numbers 1 to 5 and print it.
numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

In [9]:
# Q7. Append the number 10 to the list [1, 2, 3, 4].
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [10]:
# Q8. Remove the number 3 from the list [1, 2, 3, 4, 5].
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [11]:
# Q9. Access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [12]:
# Q10. Reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [16]:
# Q11. Create a tuple with elements 100,200,300 and print it.
my_tuple = (100,200,300)
print(my_tuple)

(100, 200, 300)

In [14]:
# Q12. Access the second-to-last element of the tuple ('red','green','blue','yellow').
colors = ('red','green','blue','yellow')
print(colors[-2])

blue

In [15]:
# Q13. Find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [17]:
# Q14. Find the index of the element "cat" in the tuple ('dog','cat','rabbit').
animals = ('dog','cat','rabbit')
print(animals.index('cat'))

1

In [18]:
# Q15. Create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'cherry')
print('kiwi' in fruits)

False

In [19]:
# Q16. Create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

In [20]:
# Q17. Clear all elements from the set {1, 2, 3, 4, 5}
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [21]:
# Q18. Remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [22]:
# Q19. Find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [23]:
# Q20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [24]:
# Q21. Create a dictionary with the keys "name", "age", and "city", and print it
person = {'name': 'John', 'age': 30, 'city': 'New York'}
print(person)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [25]:
# Q22. Add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [26]:
# Q23. Access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [28]:
# Q24. Remove the key "age" from the dictionary {'name':'Bob','age': 22,'city':'New York'}.
person = {'name':'Bob','age': 22,'city':'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [30]:
# Q25. Check if the key "city" exists in the dictionary {'name':'Alice','city':'Paris'}.
person = {'name':'Alice','city':'Paris'}
print('city' in person)

True

In [31]:
# Q26. Create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 7, 'b': 8}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 7, 'b': 8}

In [32]:
# Q27. Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
numbers = random.sample(range(1,101),5)
numbers.sort()
print(numbers)

[7, 22, 40, 60, 70]

In [35]:
# Q28. Create a list with strings and print the element at the third index.
names = ['sagar','pravin','om','vaibhav','Rushi']
print(names[3])

vaibhav

In [37]:
# Q29. Combine two dictionaries into one and print the result.
dict1 = {'a': 1,'b': 2}
dict2 = {'c': 3,'d': 4}
combined_dict = {**dict1,**dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [38]:
# Q30. Convert a list of strings into a set.
string_list = ['apple','banana','cherry']
string_set = set(string_list)
print(string_set)

{'banana', 'cherry', 'apple'}